<!DOCTYPE html>
<html lang="">
<head>
  	<meta charset="utf-8">
	<title>Puntajes PSU por nombre</title>
	<meta name="description" content="Consulta los puntajes PSU por nombre. No me hago responsable de riñas familiares por mentiras."/>
  	<meta name="keywords" content="warorface,psu,psu 2013, chile, puntajes, por nombre, admision, universidad, universidad catolica, universidad de chile, UTFSM, demre, resultados" />
	<link rel="stylesheet" href="style.css" />
</head>
<body>
<h1>Puntajes PSU por nombre</h1>
<p>Admisión 2013</p>
<script type="text/javascript">

var mobileRegex = /(iP(od|hone)|android)/ig;
google_ad_client = "ca-pub-3897310653461744";

if (false/* mobileRegex.test(navigator.userAgent) */) {
    google_ad_slot = "7948512416";
    google_ad_width = 320;
    google_ad_height = 50;
} else {
    google_ad_slot = "3624355074";
    google_ad_width = 728;
    google_ad_height = 90;
}
</script>
<div class="ads">
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>
<table>
    <thead>
		<tr>
			<th>Nombre</th>
			<th>Matematicas</th>
			<th>Lenguaje</th>
			<th>Ciencias</th>
			<th>Historia</th>
			<th>NEM</th>
		</tr>
	</thead>
	<tbody>
		<% for result in results %>
		<tr>
			<td><%= result["nombre"] %></td>
			<td><%= result["mat"] %></td>
			<td><%= result["le"] %></td>
			<td><%= result["ci"] %></td>
			<td><%= result["cs"] %></td>
			<td><%= result["nem"] %></td>
		</tr>
		<% end %>
	</tbody>
</table>

<div class="ads">
    <script type="text/javascript" src="http://pagead2.googlesyndication.com/pagead/show_ads.js"></script>
</div>

<footer>
<p>Por <a href="http://www.dtorres.me">Diego Torres</a>.</p>
<p>¿Sugerencias, Agradecimientos.... Puteadas? Mi Twitter es: <a href="http://www.twitter.com/dtorres">@dtorres</a>
</p>
</footer>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-37254038-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>